body{
    font: 15pt arial;
    text-align: center;
}
section{
    background-color: crimson;
    color: white;
    padding: 50px;
    border-radius: 20px;
    width: 500px;
    margin: auto;
    border: 1px black solid;
}
input{
    padding: 30px;
}

footer{
    font-style: italic;
}