body{
    font: 15pt arial;
    background-color: cornflowerblue;
    color: rgba(255, 255, 255, 0.958);
}
header{
    text-align: center;
    font-size: large;
}
section{
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    width: 500px;
    margin: auto;
}
footer{
    text-align: center;
    font-style: oblique;
}
img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}