body{
    font: 15pt arial;
    text-align: center;
    background-color: rgb(225, 255, 0);
}
section{
    background-color: azure;
    padding: 50px;
    border-radius: 20px;
    width: 500px;
    margin: auto;
    border: 1px black solid;
}
input{
    padding: 8px;
}   

footer{
    font-style: italic;
}